<!DOCTYPE html>
<html>

    <head>
        <title>
            Fridge Magnet Poetry
        </title>
    </head>

    <script src="http://js.staging.pusher.com/3.0.0-pre/pusher.js"></script>

    <script src="/static/js/lib/processing.js"></script>
    <script src="/static/js/lib/reqwest.min.js"></script>
    <script src="/static/js/lib/ki.min.js"></script>

    <script src="/static/js/app.js"></script>

    <script>
        var boardName = "{{ board_name }}";
        var words = [
            {% for w in wordinfo %}
                {{ w|safe }},
            {% endfor %}
        ];
    </script>

    <body>

        <h1>Fridge Magnet Poetry</h1>
        <canvas id="sketch" ></canvas>
        <form onSubmit="return false" >
            New Word: <input id="newWord" type="text" name="word"><br>
            <input id="createWord" type="submit" value="Create">
        </form>

    </body>

</html>
